.app-root {
  margin: 4rem;
}

.app-root > h1 {
  border-bottom: 1px solid #ccc;
}

.app-root > div:nth-of-type(1) fieldset {
  margin-top: 2rem;
  width: fit-content;

  #add-buttons {
    display: flex;
    gap: 0.5rem;
    > button {
      min-width: 7rem;
    }
    > button:nth-of-type(4) {
      margin-left: 4rem;
    }
  }
}

.app-root #components-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
